<%
f = taglib("/lib/form")

f.entry(:title => 'Platform', :field => 'platform') do
%>
  <select name='platform_type'>
    <option value="ios">iOS</option>
    <option value="osx">OS X</option>
  </select>
<%
end

f.entry(:title => 'Rake task', :field => 'rake_task') do
%>
  <select name='rake_task_type'>
    <option value="spec">spec</option>
  </select>
<%
end

f.entry(:title => 'Device family', :field => 'device_family', :description => 'iOS only') do
%>
  <select name='device_family_type'>
    <option value="iphone">iPhone</option>
    <option value="ipad">iPad</option>
  </select>
<%
end

f.entry(:title => 'Retina', :field => 'retina', :description => 'iOS only') do
%>
  <select name='retina_mode'>
    <option value="false">off</option>
    <option value="true">on</option>
    <option value="3.5">on (3.5-inch)</option>
    <option value="4">on (4-inch)</option>
  </select>
<%
end

f.entry(:title => 'Output Style', :field => 'output_style') do
%>
  <select name='output_style_type'>
    <option value="spec_dox">spec_dox</option>
    <option value="fast">fast</option>
    <option value="tap" selected>tap</option>
    <option value="test_unit">test_unit</option>
    <option value="knock">knock</option>
  </select>
<%
end

f.entry(:title => 'Custom binary PATH', :field => 'custom_bin_path', :description => "Specify custom binary PATH for rake. When empty, use default PATH (ie. '/usr/bin:/bin').") do
  f.textbox()
end

f.entry(:title => 'Simulator version', :field => 'simulator_version', :description => "Specify using simulator version. When empty, use default version. (ex. '5.1')") do
  f.textbox()
end

f.entry(:title => 'Output File Name', :field => 'output_file_name') do
  f.readOnlyTextbox(:value => '.jenkins-result')
end

f.block do
  f.checkbox(:title => 'Use bundler', :field => 'use_bundler')
end

f.block do
  f.checkbox(:title => 'Need clean', :field => 'need_clean')
end
%>